{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="icon" href="images/favicon.ico" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
            integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                theme: {
                    extend: {
                        colors: {
                            laravel: "#ef3b2d",
                        },
                    },
                },
            };
        </script>
        <title>PandaGigs | Find Laravel Jobs & Projects</title>
    </head>
    <body class="mb-48">
        <nav class="flex justify-between items-center mb-4">
            <a href="{% url 'Home' %}"
                ><img class="w-24" src="{% static 'images/logo.png' %}" alt="" class="logo"
            /></a>
            <ul class="flex space-x-6 mr-6 text-lg">
                <li>
                {% if request.user.is_authenticated %}
                <a href="{% url 'Manage' %}">
                    <button class=""><i class="fa-solid fa-user-plus"></i>Manage Listings</button> 
                </a>
                {% else %}
                <a href="{% url 'account_signup' %}">
                    <button class=""><i class="fa-solid fa-user-plus"></i>Register</button> 
                </a>
                {% endif %}
                </li>
                <li>
                    {% if request.user.is_authenticated %}
                    <form method="POST" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        <button class="hover:text-laravel"><i class="fa-solid fa-arrow-right-to-bracket"></i>Logout</button>
                    </form>
                    {% else %}
                    <a href="{% url 'account_login' %}">
                        <button class="hover:text-laravel"><i class="fa-solid fa-arrow-right-to-bracket"></i>Login</button>
                    </a>
                    {% endif %}
                </li>
            </ul>
        </nav>

        <!-- Hero -->
        <section
            class="relative h-72 bg-laravel flex flex-col justify-center align-center text-center space-y-4 mb-4"
        >
            <div
                class="absolute top-0 left-0 w-full h-full opacity-10 bg-no-repeat bg-center"
                style="background-image: url('images/laravel-logo.png')"
            ></div>

            <div class="z-10">
                <h1 class="text-6xl font-bold uppercase text-white">
                    Panda<span class="text-black">Gigs</span>
                </h1>
                <p class="text-2xl text-gray-200 font-bold my-4">
                    Find or post Jobs & projects
                </p>
                <div>
                    {% if request.user.is_authenticated %}
                    <a
                        href="{% url 'Create' %}"
                        class="inline-block border-2 border-white text-white py-2 px-4 rounded-xl uppercase mt-2 hover:text-black hover:border-black"
                        >POST JOB</a
                    >
                    {% else %}
                    <a
                    href="{% url 'account_signup' %}"
                    class="inline-block border-2 border-white text-white py-2 px-4 rounded-xl uppercase mt-2 hover:text-black hover:border-black"
                    >SIGN UP TO LIST A GIG</a>
                    {% endif %}
                </div>
            </div>
        </section>

        <main>
            <!-- Search -->
            <form action="">
                <div class="relative border-2 border-gray-100 m-4 rounded-lg">
                    <div class="absolute top-4 left-3">
                        <i
                            class="fa fa-search text-gray-400 z-20 hover:text-gray-500"
                        ></i>
                    </div>
                    <input
                        type="text"
                        name="search"
                        class="h-14 w-full pl-10 pr-20 rounded-lg z-0 focus:shadow focus:outline-none"
                        placeholder="Search Laravel Gigs..."
                    />
                    <div class="absolute top-2 right-2">
                        <button
                            type="submit"
                            class="h-10 w-20 text-white rounded-lg bg-red-500 hover:bg-red-600"
                        >
                            Search
                        </button>
                    </div>
                </div>
            </form>

            <div
                class="lg:grid lg:grid-cols-2 gap-4 space-y-4 md:space-y-0 mx-4"
            >
                <!-- Item 1 -->
                {% for job in jobs %}
                <div class="bg-gray-50 border border-gray-200 rounded p-6">
                    <div class="flex">
                        <img
                            class="hidden w-40 mr-6 md:block"
                            src= "{{job.CompanyLogo.url}}"
                            alt=""
                        />
                        <div>
                            <h3 class="text-2xl">
                                <a href="{% url 'Show' job_id=job.uuid %}">{{job.JobTitle}}</a>
                            </h3>
                            <div class="text-xl font-bold mb-4">{{job.CompanyName}}</div>
                            <div class="text-lg mt-4">
                                <i class="fa-solid fa-location-dot"></i> {{job.JobLocation}}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </main>

        <footer
            class="fixed bottom-0 left-0 w-full flex items-center justify-start font-bold bg-laravel text-white h-24 mt-24 opacity-90 md:justify-center"
        >
            <p class="ml-2">Copyright &copy; 2022, All Rights reserved</p>
            {% if request.user.is_authenticated %}
            <a
                href="{% url 'Create' %}"
                class="absolute top-1/3 right-10 bg-black text-white py-2 px-5"
                >Post Job</a
            >
            {% else %}
            <a
                href="{% url 'account_signup' %}"
                class="absolute top-1/3 right-10 bg-black text-white py-2 px-5"
                >Sign Up</a
            >
            {% endif %}
        </footer>
    </body>
</html>
